<html>
<head>
    <link rel="stylesheet" href="https://s3.amazonaws.com/sri-demo/flipclock.css">
    <style>
        .your-clock {
          z-index: 1;
          position: absolute;
          left: 0;
          width: 100%;
          height: 50%;
          /*font-size: 80px;*/
          /*overflow: hidden;*/
        }
    </style>
</head>
<body>
<div>
    <div class="your-clock"></div>
</div>
<script src="https://s3.amazonaws.com/sri-demo/jquery.js"></script>
<script src="https://s3.amazonaws.com/sri-demo/flipclock.js"
        integrity="sha384-qtLGk9FAV3qG659TG6KmbPCjYUB7ORSN8b11kgEP3tF7j0e8JpoIdhBHfDE0fY1f"
        crossorigin="anonymous"></script>
<script>
    var clock = $('.your-clock').FlipClock({
        // ... your options here
    });
</script>
</body>
</html>